* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    /* outline: 1px solid red; */
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spot {
    height: 100px;
    width: 100px;
    background-color: white;
    border: none;
    font-size: 3rem;
    color: black;

}

.box {
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 3rem;
}

h1 {
    padding: 2rem;
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

#start-screen {
    display: flex;
    width: 300px;
    height: 20rem;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 2rem;
    margin-top: 10rem;
}

.start-box {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

#player1-name,
#player2-name,
#start-btn,
#player1-sign {
    background-color: white;
    border-radius: 2rem;
    height: 0.9rem;
    padding: 1rem;
    border: none;
    color: black;
}

#player1-sign {
    color: black;
}

#start-btn {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: green;
    border: none;
    color: white;
    font-size: 1rem;
}

#start-btn:hover,
.restart-btn:hover,
.home-btn:hover {
    background-color: rgb(2, 113, 2);
}

.sign-choice {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.sign-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.sign-title {
    color: white;
    font-size: 1.2rem;
    margin: 0;
}

.status {
    background-color: white;
    margin-top: 2rem;
    color: black;
    display: flex;
    justify-content: center;
    height: 3rem;
    font-size: 2rem;
    width: 20rem;
    margin-left: 35.7rem;
    border-radius: 1rem;
}


.restart-btn,
.home-btn {
    margin-top: 2rem;
    width: 10rem;
    background-color: white;
    color: white;
    margin-left: 41rem;
    height: 3rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    border: none;
    background-color: green;
}

.win {
    background-color: #4caf50;
    transform: scale(1.1);
    transition: all 0.3s ease;
    color: white;
    font-weight: bold;
}

.blink {
    animation: blink 1s infinite;
    background-color: #4caf50;
    color: white;
}


@keyframes blink {
    0% {
        opacity: 1;
        scale: 1.1;
    }

    50% {
        opacity: 0.8;
        scale: 1;
    }

    100% {
        opacity: 1;
        scale: 1.1;
    }
}