* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f4f4f9;
    height: 86.5vh;
    display: flex;
    justify-content: center;
}

#main {
    width: 100%;
    height: 100%;
}

.header {
    background: #4a90e2;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}

.container {
    display: flex;
    height: 100%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 250px;
    background: #22476c;
    color: #ecf0f1;
    padding: 20px;
}

.div-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.add-todo-btn {
    height: 4rem;
    width: 4rem;
    border: none;
}

.add-todo-btn:hover {
    background-color: #cfcccc;
    border-radius: 2rem;
}

.div-heading>h1 {
    font-size: 2.8rem;
}

.project-btn,
.add-project-btn {
    padding: 10px 12px;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
    font-size: 1.1rem;
}

.project-btn:hover,
.add-project-btn:hover {
    background: #2980b9;
    color: white;
}

.todo-main {
    flex: 1;
    padding: 20px;
    background: #ecf0f1;
}

.todo-item {
    display: grid;
    background: white;
    grid-template-columns: 2fr 1fr 1fr 0.5fr 0.5fr;
    align-items: center;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.3rem;
}

.todo-title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 6px;
}

.todo-due {
    font-size: 0.85rem;
    color: #888;
    margin-bottom: 8px;
}

.low-priority {
    box-shadow: -0.6rem 0px green;


}

.medium-priority {
    box-shadow: -0.6rem 0px orange;

}

.high-priority {
    box-shadow: -0.6rem 0px red;

}

.delete-btn,
.edit-btn {
    border: none;
    background-color: white;
    color: black;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    height: 3.5rem;
    width: 3.5rem;

}
.edit-btn:hover{
    background-color: rgb(2, 179, 2);
    color: white;

}
.delete-btn:hover {
    background: rgb(225, 67, 67);
    color: white;
}

.completed {
    text-decoration: line-through;
    color: #aaa;
}

#sidebar::-webkit-scrollbar,
.todo-main::-webkit-scrollbar {
    width: 6px;
}

#sidebar::-webkit-scrollbar-thumb,
.todo-main::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}